

@media screen and (min-width:0px) and (max-width:1024px){
  /* input창에 화살표가 나오지 않도록 */
  input[type='number'] {-moz-appearance:textfield;}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;  margin: 0; }
    

  .frame{width:100%;}
  .contents{margin:0px auto;}
  textarea{margin:0;}
  /* 글보기 페이지 */
  .forumTitleWrap{overflow:hidden; width:100%;background-color:#eee;border-bottom:1px solid #ccc;}
  .forumTitleListWrap{overflow:hidden; width:100%;background-color:#222;border-bottom:1px solid #ccc;margin-top:15px;border-top:1px solid #ccc;color:#fff;}
  .forumTitleList{overflow:hidden; width:100%;background-color:#eee;border-bottom:1px solid #ccc;}

  .backward{display:block;float:left;width:35px;height:35px;margin:3px;padding:10px; line-height:12px;font-size:1.5em;}
  .forumTitle{float:left;font-size: 1.1em;font-weight: bold;width:220px;margin:0 0 0px 10px;line-height: 40px;}
  a.btnArticleList{display:block;float:right; width:80px;height:41px;color:#555;transition:0.5s all; text-align: center;line-height: 2; padding:5px 10px;background-color: #fff;border-left:1px solid #ccc;font-size:0.9em;font-weight:bold;}
  a.writeBtnList{display:block;float:right; width:80px;height:41px;color:#555;transition:0.5s all; text-align: center;line-height: 2; padding:5px 10px;border-left:1px solid #ccc;font-size:0.9em;font-weight:bold;color:#fff;}


  .articleContentsWrapper{margin-bottom:10px;}
  .articleTitleWrap{overflow:hidden; width:100%;border-bottom:1px solid #ccc;}

  .articleTitle{float:left;overflow:hidden;width:100%;padding:8px;font-size:1.2em; font-weight:bold;}
  /* .countSentence{float: right;margin-top:8px; margin-right: 7px;padding:1px 8px;border-radius:15px;color:#888;border:2px solid #888;font-weight:bold;} */
  .countSentence{color:#090;font-weight:bold;}
  .countWrap{color:#090;font-weight:bold;}

  .nicknameArea{width:100%;padding:0 5px;}
  .articleNickname{font-size:1.1em; color:#666;}
  .articleTxtArea{overflow:hidden; width:100%;margin-bottom:10px;}

  .levelIcon {position:relative;font-style: normal;height:12px;padding:1px 3px 0;top:-3px;border:1px solid #aaa;border-radius:2px;background:#aaa;line-height:14px;font-size:10px;margin-left:3px;cursor: pointer;color:#000;}
  .articleInfoWrap{overflow:hidden;width:100%;}
  .articleInfoFirst{color:#999;font-size:0.9em;margin-left:2px;}
  .articleInfo{color:#999;font-size:0.9em;}
  .police{padding:2px; font-size:0.9em;color:#999;text-decoration:underline;}

  .articleEditWrap{float:right;overflow:hidden;margin-bottom:10px;}

  .articleAddress{float:right;display:block;width:80px;height:30px; color:#090;text-align:center;font-size:0.8em; padding:2px 8px;line-height: 20px;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
  .articleEdit{float:right;display:block;height:30px; color:#000;text-align:center;font-size:0.8em;padding:2px 15px;line-height: 20px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}


  /* 글목록 */
  .articleContent{overflow:hidden; width:100%;border-bottom:1px solid #ccc;padding:10px 5px;}
  .articleContentTitle{display:block; overflow:hidden; width:100%;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
  .currentArticle{font-style: italic;color:#090;}
  .articleInfoSmall{color:#999;font-size:0.8em;}
  .articleInfoReply{color:#090;font-size:0.8em;font-weight:bold;}
  .articleNicknameSmall{font-size:0.9em; color:#666;}
  .levelIconSmall{position:relative;font-style: normal;height:10px;padding:1px 3px 0;top:-1px;border:1px solid #aaa;border-radius:2px;background:#aaa;line-height:14px;font-size:9px;margin-left:3px;cursor: pointer;color:#000;}
  /* 글 페이징 */
  .articleNav>ul{overflow:hidden; margin-bottom:10px;display:block; margin:0 auto;width:205px;}
  .articleNav>ul>li{float:left;}
  .previousPage{font-size:23px;margin:0 10px;border:1px solid #ccc;padding: 5px 15px;border-radius:3px;background-color:#eee; }
  .invisible{visibility: hidden;}
  .navPagingWrap{display:block;border:1px solid #ccc;border-radius:3px;}
  .inputPage{display:block;float:left;padding:0 3px;width:45px; height:33px;font-size:1.1em;text-align:center;border:none;background-color:rgba(0,0,0,0)}
  .movePage{display:block;float:left;font-size:18px; padding: 7px 9px;border-left:1px solid #ccc;background-color:#eee;border-bottom:1px solid #eee; }
  .forwardPage{font-size:23px;margin:0 10px;border:1px solid #ccc;padding: 5px 15px;border-radius:3px;background-color:#eee; }



  /* 미디어 속성 */
  .addedMedia{width:100%;height:auto;display:block;margin:5px auto;}
  .effect {box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);}

  .btnArticleGoodBadWrap{overflow:hidden;margin:0 auto;width:200px;display:block;margin:5px auto;}

  .btnArticleGoodBad{overflow:hidden;float:left;display:block;padding:2px;color:#666;border:1px solid #666;text-align:center;width:100px;line-height:30px;}

  .isGood{border:1px solid blue;}
  .isBigGood{background-color: rgb(0, 153, 0); }

  .btnArticleTxt{float:left;width:100%;font-size:1.1em;}
  .btnArticleCount{float:left;width:100%;font-size:1.3em;}
  .diaryImg{width:100%;}
  #imgFile{display:none;}
  #diaryImgFileModify{display:none;}

  .replyWrap{margin-top:30px;width:100%;}
  .replyCountWrap{overflow:hidden;width:100%;background-color:#222;border-top:1px solid #ccc;}
  .replyCount{float:left; padding:7px;font-weight: bold;font-size:1.1em;color:#fff;}
  .replayWriteBtn {display:block;float:right;font-size:0.9em; width:80px;height:38px;color:#fff;transition:0.5s all; text-align: center;line-height: 2; padding:5px 10px;border-left:1px solid #fff;}


  /*  댓글  */
  .mainReply{overflow:hidden;}

  .replyArticleArea{overflow:hidden;width:100%;margin:10px 0 0 0;border-bottom:1px solid #ccc;padding:10px 0px 20px 5px;}
  .replyNicknameArea{overflow:hidden;width:100%;}
  .replyNickname{font-size:1em; color:#666;}
  .answerEdit{font-size:0.8em; color:#666;border:1px solid #999;padding:2px;margin-left:10px;}

  /* 답글 */
  .answerReply{width:100%;background-color:rgb(245,245,245);overflow:hidden;}
  .answerArea{overflow:hidden;border-bottom:1px solid #ccc;}
  .answerIcon{display:block; float:left;font-size:1.5em;color:#aaa;margin:0px 5px;}
  .answerArticleArea{overflow:hidden; padding:10px 0px 20px 5px;}

  /* 답글 글쓰기 */
  .answerWriteArea{display:none;float:right; width:95%;margin-top:10px;margin-bottom:15px;}
  .writeAnswer{display:block;width:100%;height:60px; font-size: 0.9em;padding:10px;border:1px solid #999;}
  .answerWriteInfo{overflow:hidden;width:100%;background-color:#eee;border:1px solid #999;border-top:none;}
  
  /* 답글 페이징 */
  .replyNav{margin-top:10px;}
  .replyNav>ul{overflow:hidden; margin-bottom:10px;display:block; margin:0 auto;width:250px;}
  .replyNav>ul>li{float:left;}
  .previousRePage{font-size:23px;margin:0 10px;border:1px solid #ccc;padding: 5px 15px;border-radius:3px;background-color:#eee; }
  .invisible{visibility: hidden;}
  .navPagingWrap{display:block;border:1px solid #ccc;border-radius:3px;}
  .inputRePage{display:block;float:left;padding:0 3px;width:45px; height:33px;font-size:1.1em;text-align:center;border:none;background-color:rgba(0,0,0,0)}
  .moveRePage{display:block;float:left;font-size:18px; padding: 7px 9px;border-left:1px solid #ccc;background-color:#eee;border-bottom:1px solid #eee; }
  .forwardRePage{float:left;font-size:23px;margin-left:10px;border:1px solid #ccc;padding: 5px 15px;border-radius:3px;background-color:#eee; }
  .lastRePage{float:left;font-size:1.1em;margin:0 10px;width:30px;border:1px solid #ccc;padding: 5px 5px;border-radius:3px;background-color:#eee;}




  .btnReplyGoodBad{float:right;overflow:hidden;}
  .btnReplyGood{float:left;width:45px;display:block;color:#666;border:1px solid #666;text-align:center;height:25px;}
  .btnReplyTxt{float:left;font-size:0.8em;}
  .btnReplyCount{float:left;margin-left:5px;font-size:0.8em;}
  .btnReplyBad{float:left;width:45px;display:block;margin-left:10px;color:#666;border:1px solid #666;text-align:center;height:25px;}

  .replyArticleTxt{overflow:hidden;width:100%;margin:10px 0;}
  .writer{color:#090;}
  .toWriter{color:#337ab7;}
  .replyInfo{overflow:hidden;width:100%;}
  .replyEditInfo{overflow:hidden;width:100%;}
  .replyEdit{float:right;display:block; color:#000;text-align:center;font-size:0.8em;padding:2px 15px;line-height: 20px;}


  .replyWriteArea{overflow:hidden;width:100%;}
  .replyWriteInfo{overflow:hidden;width:100%;background-color:#eee;border-bottom:1px solid #999;}
  .totalLength{float:left;padding:8px 15px 8px 8px; color: #999;font-size:0.9em;}
  .replyText{float:left;padding:8px 0 8px 8px;font-size:0.9em;}
  .replyLetterCheck{float:left;}
  .checkLenInfo{ float:left;padding:8px 0;width:25px;text-align: right; color: #999;font-size:0.9em;}
  .replySubmitBtn{float:right;width:80px;height:37px;border-left:1px solid #999;font-size:0.9em;font-weight:bold; color:#666;}
  .writeReply{display:block;width:100%;height:60px; border-left:none;border-right:none;font-size: 0.9em;padding:10px;}

  .writeReplyEdit{display:block;width:98%;height:60px; font-size: 0.9em;padding:10px;margin-right:3px;border:1px solid #ccc;}
  }
  